.feed-entry {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;
}

.feed-entry.visited h3 {
  color: gray;
  text-decoration: line-through;
}

.entry-body {
  display: flex;
  gap: 1rem;
}

.entry-image img {
  max-height: 150px;
  object-fit: cover;
}
